<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMILE Search</title>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static',filename='ASPIRES_web.css') }}">
</head>
<body>
    <form onsubmit = "SendRequest(event)">
        <label>Enter SMILE here:</label><br><br>
        <input type = "text" name = "smile">
        <input type = "submit" value = "Search">
    </form>
    <div id="result"></div>
    <div class="button-container">
        <div class="property-container">
            <button class="property-button" id="reactantOpt" onclick="getProperty('reactant_opt_energy')" style="display: none;">Reactant Opt Energy</button>
            <div id="RreactantOpt" class="property-value"></div>
        </div>
        <div class="property-container">
            <br><br><button class="property-button" id="reactantSp" onclick="getProperty('reactant_sp_energy')" style="display: none;">Reactant Sp Energy</button>
            <div id="RreactantSp" class="property-value"></div>
        </div>
        <div class="property-container">
            <br><br><button class="property-button" id="enthalpy" onclick="getProperty('reactant_enthalpy')" style="display: none;">Enthalpy</button>
            <div id="rEnthalpy" class="property-value"></div>
        </div>
        <div class="property-container">
            <br><br><button class="property-button" id="entropy" onclick="getProperty('reactant_entropy')" style="display: none;">Entropy</button>
            <div id="rEntropy" class="property-value"></div>
        </div>
        <div class="property-container">
            <br><br><button class="property-button" id="productSmile" onclick="getProperty('product_smile')" style="display: none;">Product SMILE</button>
            <div id="RproductSmile" class="property-value"></div>
        </div>
        <div class="property-container">
            <br><br><button class="property-button" id="productOpt" onclick="getProperty('product_opt_energy')" style="display: none;">Product Opt Energy</button>
            <div id="RproductOpt" class="property-value"></div>
        </div>
        <div class="property-container">
            <br><br><button class="property-button" id="productSp" onclick="getProperty('product_sp_energy')" style="display: none;">Product Sp Energy</button>
            <div id="RproductSp" class="property-value"></div>
        </div>
        <div class="property-container">
            <br><br><button class="property-button" id="productEnthalpy" onclick="getProperty('product_enthalpy')" style="display: none;">Product Enthalpy</button>
            <div id="RproductEnthalpy" class="property-value"></div>
        </div>
        <div class="property-container">
            <br><br><button class="property-button" id="productEntropy" onclick="getProperty('product_entropy')" style="display: none;">Product Entropy</button>
            <div id="RproductEntropy" class="property-value"></div>
        </div>
        <div class="property-container">
            <br><br><button class="property-button" id="dE_opt" onclick="getProperty('de_opt')" style="display: none;">dE Opt</button>
            <div id="RdE_opt" class="property-value"></div>
        </div>
        <div class="property-container">
            <br><br><button class="property-button" id="dE_sp" onclick="getProperty('de_sp')" style="display: none;">dE Sp</button>
            <div id="RdE_sp" class="property-value"></div>
        </div>
        <div class="property-container">
            <br><br><button class="property-button" id="dH" onclick="getProperty('dh')" style="display: none;">dH</button>
            <div id="RdH" class="property-value"></div>
        </div>
        <div class="property-container">
            <br><br><button class="property-button" id="dS" onclick="getProperty('ds')" style="display: none;">dS</button>
            <div id="RdS" class="property-value"></div>
        </div>
        <div class="property-container">
            <br><br><button class="property-button" id="dG_opt" onclick="getProperty('dg_opt')" style="display: none;">dG Opt</button>
            <div id="RdG_opt" class="property-value"></div>
        </div>
        <div class="property-container">
            <br><br><button class="property-button" id="dG_sp" onclick="getProperty('dg_sp')" style="display: none;">dG Sp</button>
            <div id="RdG_sp" class="property-value"></div>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            fetch('/hello')
            .then(response => response.json())
            .then(data => {
                document.getElementById("result").innerText = data.message;
            })
            .catch(error => console.error('Error:', error));
        });

        $(document).ready(function () {
            $('form').submit(function (event) {
                event.preventDefault();
                var searchSmile = $('input[name="smile"]').val();
                $.ajax ({
                    type: 'POST',
                    url: '/main',
                    data: { smile: searchSmile },
                    success: function (response) {
                        console.log(response);
                        $('#result').text(response.message);
                        if (response.message == 'Found SMILE') {
                            $('#reactantOpt').show();
                            $('#reactantSp').show();
                            $('#enthalpy').show();
                            $('#entropy').show();
                            $('#productSmile').show();
                            $('#productOpt').show();
                            $('#productSp').show();
                            $('#productEnthalpy').show();
                            $('#productEntropy').show();
                            $('#dE_opt').show();
                            $('#dE_sp').show();
                            $('#dH').show();
                            $('#dS').show();
                            $('#dG_opt').show();
                            $('#dG_sp').show();
                            $('.property-value').hide;
                        }
                        else{
                            $('#reactantOpt').hide();
                            $('#reactantSp').hide();
                            $('#enthalpy').hide();
                            $('#entropy').hide();
                            $('#productSmile').hide();
                            $('#productOpt').hide();
                            $('#productSp').hide();
                            $('#productEnthalpy').hide();
                            $('#productEntropy').hide();
                            $('#dE_opt').hide();
                            $('#dE_sp').hide();
                            $('#dH').hide();
                            $('#dS').hide();
                            $('#dG_opt').hide();
                            $('#dG_sp').hide();
                            $('.property-value').hide;
                            $('.property-value').text('');
                        }
                        function getProperty(property, detail){
                            $('#' + property).text(detail);
                        }
                        $('#reactantOpt').click(function () {
                            getProperty('RreactantOpt', response.properties.reactant_opt_energy);
                        });
                        $('#reactantSp').click(function () {
                            getProperty('RreactantSp', response.properties.reactant_sp_energy);
                        });
                        $('#enthalpy').click(function () {
                            getProperty('rEnthalpy', response.properties.reactant_enthalpy);
                        });
                        $('#entropy').click(function () {
                            getProperty('rEntropy', response.properties.reactant_entropy);
                        });
                        $('#productSmile').click(function () {
                            getProperty('RproductSmile', response.properties.product_smile);
                        });
                        $('#productOpt').click(function () {
                            getProperty('RproductOpt', response.properties.product_opt_energy);
                        });
                        $('#productSp').click(function () {
                            getProperty('RproductSp', response.properties.product_sp_energy);
                        });
                        $('#productEnthalpy').click(function () {
                            getProperty('RproductEnthalpy', response.properties.product_enthalpy);
                        });
                        $('#productEntropy').click(function () {
                            getProperty('RproductEntropy', response.properties.product_entropy);
                        });
                        $('#dE_opt').click(function () {
                            getProperty('RdE_opt', response.properties.de_opt);
                        });
                        $('#dE_sp').click(function () {
                            getProperty('RdE_sp', response.properties.de_sp);
                        });
                        $('#dH').click(function () {
                            getProperty('RdH', response.properties.dh);
                        });
                        $('#dS').click(function () {
                            getProperty('RdS', response.properties.ds);
                        });
                        $('#dG_opt').click(function () {
                            getProperty('RdG_opt', response.properties.dg_opt);
                        });
                        $('#dG_sp').click(function () {
                            getProperty('RdG_sp', response.properties.dg_sp);
                        });
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
            });
        });
    </script>
</body>
</html>