.property-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 100%;
}

.property-button{
    margin-right: 10px;
    padding: 6px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.property-value{
    font-weight: normal;
    font-family: verdana, sans-serif;
}

.button-container{
     text-align: center;
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
}

button{
    padding: 6px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

button:hover,
button:focus{
    outline: black;
    background: grey;
    color: black;
}

/* Styling for the form container */
form {
    color: black;
    font: ;
    fon-size: 16px;
    text-align: center;
}

label {
    font-family: verdana, sans-serif;
}

/* Styling for the search bar input */
input[type="text"] {
    padding: 6px;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 16px;
    width: ;
}

/* Styling for the submit button */
input[type="submit"] {
    padding: 6px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus{
    outline: black;
    background: grey;
    color: black;
}

/* Styling for the result container */
#result {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    font-family: verdana, sans-serif;
}
